{% if shop.metafields.andd_multi_order['app_status'] == "app_active" %}
<hr>
<div class="andd-multiple-orders" style="display: none;">
    <a href="/apps/oseibo-ship/checkout/shippings" class="btn">複数配送先に注文</a>
</div>
{% endif %}
