#SearchDrawer {
  z-index:1001;
}

#shopify-section-header {
  position: fixed;
  z-index:1000;
  left:0;
  right:0;
  -webkit-box-shadow:0px 2px 4px 0px rgba(0,0,0,.1);
  -moz-box-shadow:0px 2px 4px 0px rgba(0,0,0,.1);
  -ms-box-shadow:0px 2px 4px 0px rgba(0,0,0,.1);
  -o-box-shadow:0px 2px 4px 0px rgba(0,0,0,.1);
  box-shadow:0px 2px 4px 0px rgba(0,0,0,.1);
  font-family: serif;
}


.template-product #PageContainer {
  padding-top: 80px;
}

@media screen and (max-width: 749px) {
#PageContainer {
  padding-top: 21px;
}}
  
.template-index {
  font: normal normal bold 15px/20px Tsukushi A Round Gothic;
}
  
.image-text::before {
  content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent linear-gradient(180deg, #EAEAEA00 0%, #6E6E6E80 100%) 0% 0% no-repeat padding-box;
    border: solid 10px #EAEAEAEA;
    border-radius: 10px;
    /* background-color: var(--color-image-overlay); */
    opacity: var(--opacity-image-overlay);
}

#shopify-section-16112562982c197b22 .custom-content .custom__image{
  padding: 0.8em;
  background-size: 20px 20px;
  border-radius: 5px;
  background-color: #f9ffff;
  background: repeating-linear-gradient(-45deg, #ffffffff, #ffffffff 8px, #D7F3FC 0, #D7F3FC 16px);
}

#shopify-section-16112562982c197b22 .custom-content .custom__image:hover{
  cursor: pointer;
  opacity: 0.7;
}

#shopify-section-16112562982c197b22 .custom-content .custom__item--text {
  background-size: cover;
    padding: 30px;
    background-color: #8AB1C5;
    border-radius: 5px;
}

#shopify-section-16112562982c197b22 .custom-content .custom__item--text p {
  color: white;
}

#shopify-section-16112562982c197b22 .custom-content .custom__item--text p:nth-child(4) {
  text-align: center;
  font-family: serif;
  font-size: 1.5rem;
}

#shopify-section-16101059860d0f8ca1 .grid__item:nth-child(4) {
    position: relative;
    left: 16%;
}

#shopify-section-16101059860d0f8ca1 .grid__item:nth-child(5) {
    position: relative;
    left: 16%;
}

@media only screen and (max-width: 749px) {
    #shopify-section-16101059860d0f8ca1 .grid__item:nth-child(4) {
      position: relative;
      left: 0%;
    }
    
    #shopify-section-16101059860d0f8ca1 .grid__item:nth-child(5) {
      position: relative;
      left: 25%;
    }
  }